:root {
    --primary-color: #123456;
    --secondary-color: #FFF;
    --royal-blue: #144480;
    --card-timer-background: rgba(20, 68, 128, 0.30);
    --lilac: #B872FF;
    --button-gradient: linear-gradient(180deg, #B872FF 0%, #144480 100%);
    --deep-blue: #01080E;
    --card-background: rgba(255, 255, 255, 0.50);
    --completed-card-background: rgba(0, 244, 191, 0.40);
}

[data-context="focus"] {
    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

[data-context="short-break"] {
    --main-bg-color: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
}

[data-context="long-break"] {
    --main-bg-color: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background: url("/img/pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unbounded', cursive;
}

.app__logo-figure {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.app__section-banner-container {
    width: 99rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.app__title {
    line-height: 150%;
    font-size: 5.2rem;
    font-style: normal;
    color: var(--secondary-color);
    font-weight: 200;
    max-width: 46rem;
}

.app__title-strong {
    font-weight: 600;
}

.app__section-card-container {
    display: flex;
    justify-content: center;
}

.app__card {
    border-radius: 3.2rem;
    border: 0.2rem solid var(--royal-blue);
    background: var(--card-timer-background);
    padding: 2.4rem;
    margin: 8rem 0;
    width: 59rem;
    max-width: 90%;
}

.app__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.app__card-button {
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background: none;
    padding: 0.8rem;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    outline: inherit;
}

.app__card-button.active {
    border-radius: 0.8rem;
    background: var(--royal-blue);
    font-weight: 600;
}

.app__card-timer {
    color: var(--secondary-color);
    text-align: center;
    font-family: Unbounded;
    font-size: 12rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 3.2rem;
    text-align: center;
}

.app__card-list-label {
    color: var(--secondary-color);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}

.app__card-primary-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__card-primary-button {
    padding: 0.8rem;
    width: 12rem;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    outline: inherit;
    border-radius: 3.2rem;
    background: var(--button-gradient);
    margin-top: 3.2rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.app__footer {
    display: flex;
    width: 100%;
    padding: 2.8rem 6rem;
    justify-content: center;
    align-items: center;
    background: #010B15;
}

.app__footer-text {
    color: rgba(182, 182, 182, 0.8);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* toggle */
.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--lilac);
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 3rem;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

/* Dropdown */
.dropdown-container {
    position: relative;
}

.app__section-task-header__ul {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    min-width: 24rem;
    padding: 1.6rem;
}

.app__section-task-header__ul:hover,
.app__button-more:hover ~ .app__section-task-header__ul {
    display: block;
    text-align: right;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--royal-blue);
    background: var(--deep-blue);
}

.app__section-task-header__li {
    margin: 1.6rem 0;
}

.app__section-task-header__li__button {
    width: 100%;
    border: none;
    cursor: pointer;
    outline: inherit;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 0.8rem;
}

.app__section-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app__section-task-content {
    width: 59rem;
    max-width: 90%;
    color: #FFF;
}

.app__section-active-task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 4rem 0;
    border-bottom: 1px solid var(--royal-blue);
    margin-bottom: 4rem;
}

.app__form-textarea {
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.8rem;
    background: #98A0A8;
    font-family: Montserrat;
}

.app__form-label {
    color: var(--deep-blue);
    font-family: 'Unbounded', serif;
    font-size: 2.6rem;
    display: block;
    margin-bottom: 3.2rem;
}

.app__button--add-task {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--lilac);
    border-radius: 3.2rem;
    border: 0.2rem solid var(--lilac);
    width: 100%;
    padding: 1.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 150%;
}

.app_button-edit:disabled {
    color: #e6e6e6;
    opacity: 0.8;
    cursor: not-allowed;
}
